<div id="footer">
    <div class="nav">
        <a class="logoLink" href="/home.aspx">
            <img alt="TES logo" src="http://www.tes.co.uk/magazine/graphics/tesconnect_footer_logo.png?b=@cache_bust@">
        </a>
        <ul>
            <li class="first">
                <a href="http://www.tes.co.uk/"><span>Home</span></a></li>
            <li>
                <a href="http://www.tes.co.uk/article.aspx?storyCode=6000244&amp;navCode=370&amp;utm_source=tes&amp;utm_medium=footer_link&amp;utm_campaign=subscribe"><span>Subscribe</span></a></li>
            <li>
                <a href="http://www.tes.co.uk/article.aspx?storyCode=6000015&amp;navcode=102"><span>Recruit or advertise</span></a></li>
            <li>
                <a href="http://www.tes.co.uk/_contacts.aspx?navcode=274"><span>Contact</span></a></li>
            <li>
                <a href="http://www.tes.co.uk/article.aspx?storyCode=6000125&amp;navCode=287"><span>T&amp;Cs</span></a></li>
            <li>
                <a href="http://www.tes.co.uk/article.aspx?storyCode=6000267&amp;navCode=423"><span>Privacy</span></a></li>
            <li>
                <a href="http://www.tes.co.uk/article.aspx?storycode=6229959"><span>Cookies</span></a></li>
            <li>
                <a href="http://www.tes.co.uk/sitemap.aspx?navCode=12"><span>Site map</span></a></li>
            <li>
                <a href="http://www.tes.co.uk/article.aspx?storyCode=6082387"><span>Link to us</span></a></li>
            <li>
                <a href="http://www.twitter.com/#!/tesresources" target="_blank"><span>TES on Twitter</span></a></li>
        </ul>
    </div>

    <div class="copyright"><p>© 2014 TES Global Ltd. All content and pages of this website are subject to our Terms and Conditions and a user Privacy Policy. You must not reproduce, duplicate, distribute, copy, sell, resell or exploit any material on the website for any purpose without prior written permission.  TES Global Ltd is registered in England (Company No 02017289) with its registered office at 26 Red Lion Square London WC1R 4HQ</p></div>
</div>
