
<ul id="personalLinks" class="notauth">
    <li class="login"><a href="https://account.tes.co.uk/LogOn?rtn=http%3a%2f%2fwww.tes.co.uk%2fjobs%2f&exp=1">Log in</a></li>
    <li class="register"><a href="https://account.tes.co.uk/Register">REGISTER FOR FREE</a></li>
</ul>