<div id="nav">
    <ul class="main clearfix">

        {{#each locationsData}}
            <li ><a href={{href}} class='jobs selected'>{{title}}</a></li>
        {{/each}}

        </li><li class='itemAlt'><a href='/article.aspx?storyCode=6000367&navcode=286' class='help'>Help</a>
    </li><li class='itemAlt'><a href='/article.aspx?storyCode=6000208&navCode=285' class='about'>About us</a></li>
        <li ><a href='http://www.tes.co.uk/premium/premium-products' class='products'>Products</a></li>
    </ul>
</div>
