<div id="subnav">
    <ul class="secondary">
        <li><a href='topSection.aspx?navCode=247'>Career advice</a></li>
        <li><a href='salarySearch.aspx?navcode=101'>Salary checker</a></li>
        <li><a href='myalerts.aspx?navCode=471'>My jobs</a></li>
        <li><a href='/talentbank.aspx'>Talent Bank</a></li>
    </ul>
</div>
