<!doctype html>
<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>

    <body>
        <header><img src="/img/5286405234_5c26fb4a3d_b.jpg" alt="Meadowlark Travel Logo" width="100px" height="80px"></header>

        {{{body}}}

    </body>
</html>