<html>

<head>
    <!-- Header section -->
   {{> headerReferences}}
    <!-- End Header section -->

</head>


<body id="jobs" class="home " onload="">

<div id="access">

    <a href="#content">Skip to main content</a>

</div>
<div id="wrapper">

<div id="header" class="clearfix">

    <!-- UtilityBar section -->
    {{> utilityBar}}
    <!-- End UtilityBar section -->

    <div id="headerLogos">
			<span class="header" id="logo">
				<a href="/home.aspx" rel="home" title="TES the largest network of teachers in the world">TES</a> <span class="logostrapline">the largest network of teachers in the world</span>
			</span>
    </div>




</div>
    <div id="myTes-wrapper" class="is-logged-in is-closed myTesArea">
        <div id="myTes-container">
            <div id="myTes-contentHolder">
                <div id="myTes-content">
                </div>
            </div>
            <div id="notification-contentHolder">
                <div id="notification-content">
                </div>
            </div>
        </div>
        <div id="myTes-tab">
            <a href="noscript.aspx" onclick="javascript:return false;" ><span>My TES</span></a></div>
    </div>

    <!-- menu bar -->
    {{> menuBar}}
    <!-- End menu bar -->

    <!-- submenu bar -->
    {{> submenu }}
    <!-- End submenu bar -->

    <!-- Start of main body -->
    {{{body}}}
    <!-- End of main body -->

    <!-- footer section -->
    {{> footer}}
    <!-- End footer section -->
    </div>
</body>
</html>