<html>

<head>
    <!-- Header section -->
   {{> headerReferences}}
    <!-- End Header section -->

</head>


<body id="jobs" class="home " onload="">

<div id="access">

    <a href="#content">Skip to main content</a>

</div>
<div id="wrapper">

<div id="header" class="clearfix">

    <!-- UtilityBar section -->
    {{> utilityBar}}
    <!-- End UtilityBar section -->

    <div id="headerLogos">
			<span class="header" id="logo">
				<a href="/home.aspx" rel="home" title="TES the largest network of teachers in the world">TES</a> <span class="logostrapline">the largest network of teachers in the world</span>
			</span>
    </div>


</div>

    <!-- menu bar -->
    {{> menu}}
    <!-- End menu bar -->

    <!-- submenu bar -->
    {{> submenu }}
    <!-- End submenu bar -->

    <!-- Start of main body -->
    <div id="content" class="clearfix">

        <!-- top_1 -->
        {{> top_1 }}
        <!--End  top_1 -->

        <div class="r main">

            <!-- left_1 -->
            {{> left_1}}
            <!-- End left_1 -->

            <div class="g8">

                <!-- nav box -->
                {{> navigationBox }}
                <!-- End nav box -->

                <div class="r extras">
                    <!-- featuredJobs box -->

                    {{> featuredJobs }}

                    <!-- End featuredJobs box -->

                </div>

                {{{body}}}

            </div>
        </div>


    <!-- End of main body -->
    </div>
    <!-- footer section -->
    {{> footer}}
    <!-- End footer section -->
    </div>
</body>
</html>