<div class="g2 featuredJobs">


    <h2>
        Featured jobs
    </h2>
    <ul>

        {{#each featuredJobsData}}
                <li class="hlisting announce-opening job">
                    <h3 class="item">
                        <a class="fn url" href="/job/teacher-of-mathematics-china-275029/">
                            {{ jobTitle}}
                                <span class="location adr">
                                    {{ location }}
                                </span></a>
                    </h3>
                    <p class="lister fn">
                        The British School of Beijing, Shunyi
                    </p>
                </li>
        {{/each}}

        <!--<li class="hlisting announce-opening job">-->
            <!--<h3 class="item">-->
                <!--<a class="fn url" href="/job/head-of-ducks-southwark-276064/">-->
                    <!--Head of Ducks-->

                        <!--<span class="location adr">-->
                            <!--Southwark-->
                        <!--</span></a>-->
            <!--</h3>-->
            <!--<p class="lister fn">-->
                <!--Dulwich College &#40;DUCKS&#41;-->
            <!--</p>-->
        <!--</li>-->

        <!--<li class="hlisting announce-opening job">-->
            <!--<h3 class="item">-->
                <!--<a class="fn url" href="/job/teacher-of-music-china-275031/">-->
                    <!--Teacher of Music-->

                        <!--<span class="location adr">-->
                            <!--China-->
                        <!--</span></a>-->
            <!--</h3>-->
            <!--<p class="lister fn">-->
                <!--The British School of Beijing, Shunyi-->
            <!--</p>-->
        <!--</li>-->

        <!--<li class="hlisting announce-opening job">-->
            <!--<h3 class="item">-->
                <!--<a class="fn url" href="/job/teacher-of-business-studies-china-275025/">-->
                    <!--Teacher of Business Studies-->

                        <!--<span class="location adr">-->
                            <!--China-->
                        <!--</span></a>-->
            <!--</h3>-->
            <!--<p class="lister fn">-->
                <!--The British School of Beijing, Shunyi-->
            <!--</p>-->
        <!--</li>-->

        <!--<li class="hlisting announce-opening job">-->
            <!--<h3 class="item">-->
                <!--<a class="fn url" href="/job/head-of-upper-school-years-12-and-13-southwark-275800/">-->
                    <!--Head of Upper School &#40;Years 12 and 13&#41;-->

                        <!--<span class="location adr">-->
                            <!--Southwark-->
                        <!--</span></a>-->
            <!--</h3>-->
            <!--<p class="lister fn">-->
                <!--Dulwich College-->
            <!--</p>-->
        <!--</li>-->

    </ul>

</div>
