
<div id="jobOfTheWeek" class="list jobOTWContainer">
    <ul class="jobs clearfixItems expanded tes-fj-carousel slick-carousel slick-initialized slick-slider" style="visibility: visible;">


        <div class="slick-list draggable" tabindex="0">
            <div class="slick-track" style="opacity: 1; width: 2640px; -webkit-transform: translate3d(-1760px, 0px, 0px);">
                {{#each jobOfWeekData}}
                        <li class="hlisting announce-opening job featured slick-slide slick-cloned" style="width: 440px; height: 235px;">
                        <div class="g item">
                            <h3>Jobs of the week</h3>

                            <h4>
                                <a class="fn url" href="/jobs/vacancy/headteacher-for-virtual-school-looked-after-children-and-care-leavers-hackney-276437/">
                                    {{jobTitle}}
                                    <span><strong class="lister fn">Hackney Learning Trust</strong> </span>
                                </a>
                            </h4>
                            <p class="type">


                            </p>
                            <p class="description">
                                {{shortDescription}}
                            </p>
                        </div>
                        <div class="g meta">
                            <a href="/JobDetail.aspx?jobid=276437" id="">
                                <img src="http://www.tes.co.uk/jobs/Pictures/Web/o/t/b/1052762_logo.jpg" id="" class="photo schoolBadge" width="120" height="60" alt="Hackney Learning Trust">
                            </a>

                            <span class="salary">{{salary}}</span>
                        </div>
                    </li>
                {{/each}}
            <!--<li id="job-1001" class="hlisting announce-opening job featured slick-slide" style="width: 440px; height: 235px;">-->
            <!--<div class="g item">-->
                <!--<h3>Jobs of the week</h3>-->
                <!--<span style="color:green">New This Week</span>-->
                <!--<h4>-->
                    <!--<a class="fn url" href="/jobs/vacancy/deputy-head-teacher-progress-and-attainment-of-pupils-hackney-278526/">-->
                        <!--Deputy Head Teacher - Progress and Attainment of Pupils, Hackney-->
                        <!--<span><strong class="lister fn">Randal Cremer Primary School</strong> </span>-->
                    <!--</a>-->
                <!--</h4>-->
                <!--<p class="type">-->

                    <!--Mainstream, 3 - 11 years (Mixed), State - Community-->
                <!--</p>-->
                <!--<p class="description">-->
                    <!--The Governors, Head Teacher and Executive Principal of Randal Cremer Primary School are seeking to appoint an inspirational Deputy Head Teac...-->
                <!--</p>-->
            <!--</div>-->
            <!--<div class="g meta">-->
                <!--<a href="/JobDetail.aspx?jobid=278526" id="ContentPlaceHolder2_ctl00_ucJobOfTheWeek_tslJobOftheWeek_imgLogo_0">-->
                    <!--<img src="/jobs/Pictures/Web/n/y/k/1042687_logo.jpg" id="ContentPlaceHolder2_ctl00_ucJobOfTheWeek_tslJobOftheWeek_employerLogo_0" class="photo schoolBadge" width="120" height="60" alt="Randal Cremer Primary School">-->
                <!--</a>-->

                <!--<span class="salary">Leadership Scale - dependent on experience</span>-->
            <!--</div>-->
        <!--</li><li id="job-1001" class="hlisting announce-opening job featured slick-slide" style="width: 440px; height: 235px;">-->
            <!--<div class="g item">-->
                <!--<h3>Jobs of the week</h3>-->
                <!--<span style="color:green">New This Week</span>-->
                <!--<h4>-->
                    <!--<a class="fn url" href="/jobs/vacancy/assistant-principal-mathematics-and-numeracy-durham-278068/">-->
                        <!--Assistant Principal: Mathematics &amp; Numeracy, Durham-->
                        <!--<span><strong class="lister fn">North Durham Academy</strong> </span>-->
                    <!--</a>-->
                <!--</h4>-->
                <!--<p class="type">-->

                    <!--Mainstream, 11 - 19 years (Mixed), State - Academy-->
                <!--</p>-->
                <!--<p class="description">-->
                    <!--We seek to appoint an experienced and inspirational colleague, with a proven track record of raising standards in mathematics at all key sta...-->
                <!--</p>-->
            <!--</div>-->
            <!--<div class="g meta">-->
                <!--<a href="/JobDetail.aspx?jobid=278068" id="ContentPlaceHolder2_ctl00_ucJobOfTheWeek_tslJobOftheWeek_imgLogo_1">-->
                    <!--<img src="/jobs/Pictures/Web/n/l/i/1062586_logo.jpg" id="ContentPlaceHolder2_ctl00_ucJobOfTheWeek_tslJobOftheWeek_employerLogo_1" class="photo schoolBadge" width="120" height="60" alt="North Durham Academy">-->
                <!--</a>-->

                <!--<span class="salary">L13-L17 (£51,372 to £56,670 pa)</span>-->
            <!--</div>-->
        <!--</li><li id="job-1001" class="hlisting announce-opening job featured slick-slide" style="width: 440px; height: 235px;">-->
            <!--<div class="g item">-->
                <!--<h3>Jobs of the week</h3>-->
                <!--<span style="color:green">New This Week</span>-->
                <!--<h4>-->
                    <!--<a class="fn url" href="/jobs/vacancy/head-teacher-southampton-278967/">-->
                        <!--Head Teacher, Southampton-->
                        <!--<span><strong class="lister fn">Woodlands Community College</strong> </span>-->
                    <!--</a>-->
                <!--</h4>-->
                <!--<p class="type">-->

                    <!--Mainstream, 11 - 16 years (Mixed), State - Community-->
                <!--</p>-->
                <!--<p class="description">-->
                    <!--We are seeking to appoint an experienced and inspirational Head Teacher to lead us towards being a 'good' then 'outstanding' school.-->
                <!--</p>-->
            <!--</div>-->
            <!--<div class="g meta">-->
                <!--<a href="/JobDetail.aspx?jobid=278967" id="ContentPlaceHolder2_ctl00_ucJobOfTheWeek_tslJobOftheWeek_imgLogo_2">-->
                    <!--<img src="/jobs/Pictures/Web/t/w/h/1003970_logo.jpg" id="ContentPlaceHolder2_ctl00_ucJobOfTheWeek_tslJobOftheWeek_employerLogo_2" class="photo schoolBadge" width="120" height="60" alt="Woodlands Community College">-->
                <!--</a>-->

                <!--<span class="salary">£76,053-£88,102</span>-->
            <!--</div>-->
        <!--</li><li id="job-1001" class="hlisting announce-opening job featured slick-slide slick-active" style="width: 440px; height: 235px;">-->
            <!--<div class="g item">-->
                <!--<h3>Jobs of the week</h3>-->

                <!--<h4>-->
                    <!--<a class="fn url" href="/jobs/vacancy/headteacher-for-virtual-school-looked-after-children-and-care-leavers-hackney-276437/">-->
                        <!--Headteacher for Virtual School: Looked After Children and Care Leavers, Hackney-->
                        <!--<span><strong class="lister fn">Hackney Learning Trust</strong> </span>-->
                    <!--</a>-->
                <!--</h4>-->
                <!--<p class="type">-->


                <!--</p>-->
                <!--<p class="description">-->
                    <!--We are looking to appoint a Headteacher who will lead the Virtual School for Looked After Children with confidence and purpose. As an existi...-->
                <!--</p>-->
            <!--</div>-->
            <!--<div class="g meta">-->
                <!--<a href="/JobDetail.aspx?jobid=276437" id="ContentPlaceHolder2_ctl00_ucJobOfTheWeek_tslJobOftheWeek_imgLogo_3">-->
                    <!--<img src="/jobs/Pictures/Web/o/t/b/1052762_logo.jpg" id="ContentPlaceHolder2_ctl00_ucJobOfTheWeek_tslJobOftheWeek_employerLogo_3" class="photo schoolBadge" width="120" height="60" alt="Hackney Learning Trust">-->
                <!--</a>-->

                <!--<span class="salary">Group 2 L15 - L21 (£61,186 - £69,750)</span>-->
            <!--</div>-->
        <!--</li><li class="hlisting announce-opening job featured slick-slide slick-cloned" style="width: 440px; height: 235px;">-->
            <!--<div class="g item">-->
                <!--<h3>Jobs of the week</h3>-->
                <!--<span style="color:green">New This Week</span>-->
                <!--<h4>-->
                    <!--<a class="fn url" href="/jobs/vacancy/deputy-head-teacher-progress-and-attainment-of-pupils-hackney-278526/">-->
                        <!--Deputy Head Teacher - Progress and Attainment of Pupils, Hackney-->
                        <!--<span><strong class="lister fn">Randal Cremer Primary School</strong> </span>-->
                    <!--</a>-->
                <!--</h4>-->
                <!--<p class="type">-->

                    <!--Mainstream, 3 - 11 years (Mixed), State - Community-->
                <!--</p>-->
                <!--<p class="description">-->
                    <!--The Governors, Head Teacher and Executive Principal of Randal Cremer Primary School are seeking to appoint an inspirational Deputy Head Teac...-->
                <!--</p>-->
            <!--</div>-->
            <!--<div class="g meta">-->
                <!--<a href="/JobDetail.aspx?jobid=278526" id="">-->
                    <!--<img src="/jobs/Pictures/Web/n/y/k/1042687_logo.jpg" id="" class="photo schoolBadge" width="120" height="60" alt="Randal Cremer Primary School">-->
                <!--</a>-->

                <!--<span class="salary">Leadership Scale - dependent on experience</span>-->
            <!--</div>
        </li>-->
            </div></div>








        <ul class="slick-dots" style="display: block;"><li class=""><button type="button">1</button></li><li class=""><button type="button">2</button></li><li class=""><button type="button">3</button></li><li class="slick-active"><button type="button">4</button></li></ul></ul>
</div>

