
<div id="jobOfTheWeek" class="list jobOTWContainer">
    <ul class="jobs clearfixItems expanded tes-fj-carousel slick-carousel slick-initialized slick-slider" style="visibility: visible;">
        <div class="slick-list draggable" tabindex="0">
            <div class="slick-track" style="opacity: 1; width: 2640px; -webkit-transform: translate3d(-1760px, 0px, 0px);">
                {{#each jobOfWeekData}}
                        <li class="hlisting announce-opening job featured slick-slide slick-cloned" style="width: 440px; height: 235px;">
                        <div class="g item">
                            <h3>Jobs of the week</h3>

                            <h4>
                                <a class="fn url" href="/jobs/vacancy/headteacher-for-virtual-school-looked-after-children-and-care-leavers-hackney-276437/">
                                    {{jobTitle}}
                                    <span><strong class="lister fn">Hackney Learning Trust</strong> </span>
                                </a>
                            </h4>
                            <p class="type">


                            </p>
                            <p class="description">
                                {{shortDescription}}
                            </p>
                        </div>
                        <div class="g meta">
                            <a href="/JobDetail.aspx?jobid=276437" id="">
                                <img src="http://www.tes.co.uk/jobs/Pictures/Web/o/t/b/1052762_logo.jpg" id="" class="photo schoolBadge" width="120" height="60" alt="Hackney Learning Trust">
                            </a>

                            <span class="salary">{{salary}}</span>
                        </div>
                    </li>
                {{/each}}
            </div>
        </div>








        <ul class="slick-dots" style="display: block;"><li class=""><button type="button">1</button></li><li class=""><button type="button">2</button></li><li class=""><button type="button">3</button></li><li class="slick-active"><button type="button">4</button></li></ul></ul>
</div>

