
<div class="navigation" id="idnavigation">
    <div class="r col3">
        <div class="g first">

            <h2>
                Teaching &amp; Lecturing</h2>
            <ul>
                {{#each navData}}
                <li><a href={{href}} id="ContentPlaceHolder2_ctl00_ucNavigationPanel_repTeaching_linkTeaching_0" rel="tag">{{title}}</a></li>
                {{/each}}
            </ul>

        </div>
        <div class="g second">

            <h2>
                Leadership</h2>
            <ul>

                <li>

                    <a href="/headteacher-leadership-jobs/" id="ContentPlaceHolder2_ctl00_ucNavigationPanel_repLeadership_linkLeadership_0" rel="tag">Headteacher</a> </li>

                <li>

                    <a href="/deputy-headteacher-leadership-jobs/" id="ContentPlaceHolder2_ctl00_ucNavigationPanel_repLeadership_linkLeadership_1" rel="tag">Deputy Headteacher</a> </li>

                <li>

                    <a href="/assistant-headteacher-leadership-jobs/" id="ContentPlaceHolder2_ctl00_ucNavigationPanel_repLeadership_linkLeadership_2" rel="tag">Assistant Headteacher</a> </li>

                <li>

                    <a href="/leadership-excellence-teaching-jobs/" id="ContentPlaceHolder2_ctl00_ucNavigationPanel_repLeadership_linkLeadership_3" rel="tag">Leadership/Excellence Teacher</a> </li>

                <li>

                    <a href="/director-and-principal-leadership-jobs/" id="ContentPlaceHolder2_ctl00_ucNavigationPanel_repLeadership_linkLeadership_4" rel="tag">Director/Principal</a> </li>

                <li>

                    <a href="/deputy-director-and-vice-principal-leadership-jobs/" id="ContentPlaceHolder2_ctl00_ucNavigationPanel_repLeadership_linkLeadership_5" rel="tag">Deputy Director/Vice Principal</a> </li>

                <li>

                    <a href="/assistant-director-principal-leader-jobs/" id="ContentPlaceHolder2_ctl00_ucNavigationPanel_repLeadership_linkLeadership_6" rel="tag">Assistant Director/Principal</a> </li>

            </ul>

        </div>
        <div class="g">

            <h2>
                Non-Teaching/Support</h2>
            <ul>

                <li>
                    <a href='/office-and-administrative-jobs/' rel="tag">

                        Office and Administrative

                    </a></li>

                <li>
                    <a href='/pastoral-and-welfare-jobs/' rel="tag">

                        Pastoral/Welfare

                    </a></li>

                <li>
                    <a href='/support-jobs/' rel="tag">

                        Support

                    </a></li>

                <li>
                    <a href='/facilities-jobs/' rel="tag">

                        Facilities

                    </a></li>

            </ul>

        </div>
    </div>
</div>
